{% extends 'layout.twig' %}
{% block body %}
{% if firstname is defined and lastname is defined %} 
    <strong>Hello</strong> {{ firstname }} {{ lastname }} !
{% else %}
<main>
	<h2>Contact</h2>
	<form action="" method="post">
		<fieldset>
			<legend>Contact</legend>
			<ul>
				<li>
					<label for="lastname">Nom :</label>
					<input type="text" name="lastname" id="lastname" />
				</li>

				<li>
					<label for="firstname">Prénom :</label>
					<input type="text" name="firstname" id="firstname" />
				</li>

				<li>
					<input type="submit" value="Envoyer" class="btn" />
				</li>
				</ul>
		</fieldset>
   </form>
 </main>
{% endif %}
{% endblock %}