* {
	outline: none;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}


/* Classe Flex */
.flex {
	display: flex;
	justify-content: space-around;
}

/* Tous les li n'ont pas de puces */
li {
	list-style-type: none;
}

/* Tous les liens n'ont pas de décoration */
a {
	text-decoration: none;
	color: inherit;
}

header {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding: 20px;
	background: linear-gradient(rgba(0, 0, 5, 0.5), rgba(89, 106, 114, 0.5)),
		url('../images/hotel-perrakis.jpg');
	background-size: cover;
	height: 70vh;
	color: white;
	
}

header nav {
	width: auto;
}

/* Formulaire dans l'en tête */
header form {
	width: 100%;
	margin: 80px auto;
}

/* Barre et bouton rechercher ont un padding de 20px de hauteur et 10px de largeur et aucune bordure*/
input, #btn_search {
	border: none;
	padding: 20px 10px;
}

/* Barre rechercher */
input {
	width: 80%;
}

/* Bouton rechercher en page d'accueil */
#btn_search {
	background-color: #fca311;
}

/* Le titre, le slogan et la barre de recherche centré */
.center{
	width: 100%;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
}

h1 {
	font-family: 'Merienda', cursive;
	font-size: 60px;
	margin: 50px;
}




