{% extends 'layout.twig' %}
{% block body %}

<main>
	<h2>Connexion</h2>
	
	<form action="" method="post">
		<fieldset>
			<legend>Se connecter</legend>
			<ul>

				<!-- Email -->
				<li>
					<label for="email">Email :</label>
					<input type="email" name="email" id="email" required>
				</li>

				<!-- Mot de passe -->
				<li>
					<label for="password">Mot de passe :</label>
					<input type="password" name="password" id="password" required>
				</li>

				<!-- Submit -->
				<li>
					<input type="submit" name="submit" value="Envoyer" id="submit" class="btn">
				</li>
			</ul>
		</fieldset>
	</form>
</main>

{% endblock %}